/* FONTS IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fefaf6;
}

/* GLOBAL STYLES */
.btn {
  padding: 0.25em 0.8em;
  text-transform: capitalize;
  cursor: pointer;
  background: none;
  border-radius: 1em;
  border: none;
  font-size: 0.95rem;
  font-weight: 500;
}

.center-cont {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  border: 0.5px solid #000000;
  max-width: 370px;
  padding: 2.2em 2.5em;
  margin: 10em auto;
  background-color: #fff;
  border-radius: 0.3em;
}

.form-title {
  margin-bottom: 1.3em;
  text-align: center;
}

.form-row {
  margin-bottom: 1em;
  line-height: 2;
}

.form-row label {
  display: block;
  text-transform: capitalize;
  font-weight: 500;
}

.form-row input {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.2em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* HEADER STYLING */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin-bottom: 2.5em;
  /* border: 1px solid; */
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.navlink-list {
  display: inline;
}

.nav-searchbar {
  margin-left: 1em;
}

.nav-searchbar input {
  border: 1px solid #9e9d9d;
  border-radius: 0.5em;
  outline: none;
  padding: 0.3em 0.5em;
  background-color: #fff;
  width: 220px;
}

.signup-btn {
  margin-left: 0.8em;
  background-color: #000;
  color: #fff;
}

/* REGISTER PAGE */
.register-btn-cont,
.login-btn-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.register-btn,
.login-btn {
  border: 1px solid;
  border-radius: 0.5em;
  background-color: #000;
  color: #fff;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.7em;
}

.toggle-text {
  margin-left: 1em;
  font-size: 0.9rem;
  text-align: center;
}

/* LANDING PAGE */
/* HERO */
.hero {
  margin-bottom: 3em;
}

.hero-title {
  font-size: 2.2rem;
  line-height: 1.25;
  width: 80%;
  margin-bottom: 0.6em;
}

.hero-info {
  margin-bottom: 1em;
  line-height: 1.7;
  width: 95%;
}

.hero-btn {
  background-color: #000000e1;
  color: #fff;
  border-radius: 0.3em;
}

/* HOME */

/* CLASSES */
.small-screen-hide {
  display: none;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 992px) {
  .small-screen-hide {
    display: flex;
  }
}
